// Style start
body {

  font-family: $ff;
  font-size: $fz;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }
  button:focus,
  input:focus,
  a:focus,
  textarea:focus {
    outline: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  li {
    padding: 0;
    margin: 0;
  }
  ul {
    padding: 0;
    margin: 0;
  }
}