
.header--userPanel {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0 0.5px 5px 0 rgba(0, 0, 0, 0.3);
  @extend %flex-v-centered;
  justify-content: center;
  padding-left: 10rem;

  .header--userPanel--logo {
    @extend %flex-v-centered;
    justify-content: center;

    .header--userPanel--logo-img {
      width: 100%;
    }
  }
  .header--userPanel--stars {
    justify-content: center;
    min-width: 4rem;
    margin: 0 0.3rem;
    min-width: 6.8rem;
    @extend %flex-v-centered;
    .header--userPanel--stars--img {
      width: 100%;
    }
  }
  .header--userPanel--menu {
    @extend %flex-v-centered;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    justify-content: center;

    .header--userPanel--menu--ul {
      @extend %flex-v-centered;
      flex-wrap: wrap;
      justify-content: center;
      .header--userPanel--menu--ul--li {
        @extend %nav-inline;
        margin: 0 5px;
        text-align: center;

        .header--userPanel--menu--ul--li--a {
          color: lighten($c, 30%);
          text-decoration: none;
          text-align: center;
          word-wrap: normal;

        }
      }
    }
  }
  .header--userPanel--cabinet {
    @extend %flex-v-centered;

    .header--userPanel--cabinet--a {
      text-decoration: none;
      color: lighten($c, 30%);

      .header--userPanel--cabinet--a--i {
        padding-left: 0.3rem;
      }
    }
  }
}